<div class="paper-footer-wrapper" style="-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-box-sizing:border-box;-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;box-sizing:border-box;font-family:Roboto, sans-serif;background-color:#303030;box-shadow:0 10px 30px rgba(0, 0, 0, 0.19),
         0 6px 10px rgba(0, 0, 0, 0.23);border-radius:2px;mui-prepared:;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;color:#fafafa;">
    <footer class="site-footer">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li>{{ site.react.title }}</li>
                        <li><a href="mailto:{{site.react.email}}">{{site.react.email}}</a></li>
                    </ul>
                </div>
                <div class="footer-col footer-col-2">
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />
                    <div id="mc_embed_signup" style="background:#fff;clear:left;font:14px Helvetica,Arial,sans-serif;width:100%;">
                        <form action="//liquidthink.us10.list-manage.com/subscribe/post?u=f1a0e46a4769f1cbba967ae1d&amp;id=517d09234a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                            <div id="mc_embed_signup_scroll"><label for="mce-EMAIL">Subscribe to our mailing list</label><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="" />
                                <div style="position:absolute;left:-5000px;" aria-hidden="true"><input type="text" name="b_f1a0e46a4769f1cbba967ae1d_517d09234a" tabindex="-1" value="" /></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-col footer-col-3">{{ site.react.description }}</div>
            </div>
        </div>
    </footer>
    </div>