{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": ["material-ui"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "closure-elimination",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "constant-folding"
      ]
    }
  }
}
