---
layout: default
---
<div>
    <div style="-moz-box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;box-sizing:border-box;font-family:Roboto, sans-serif;color:rgba(255, 255, 255, 1);box-shadow:0 1px 6px rgba(0, 0, 0, 0.12),
         0 1px 4px rgba(0, 0, 0, 0.12);border-radius:0px;background-color:#0097a7;z-index:1100;width:100%;display:-webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;padding-left:24px;padding-right:24px;mui-prepared:;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;position:relative;">
        <button style="-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-moz-box-sizing:border-box;-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);cursor:pointer;text-decoration:none;margin:0;padding:12px;outline:none;font-size:0;font-weight:inherit;transform:translate(0, 0);box-sizing:border-box;overflow:visible;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;width:48px;height:48px;margin-top:1px;margin-right:8px;margin-left:-16px;background:none;mui-prepared:;display:inline-block;font-family:Roboto, sans-serif;border:10px;position:relative;"
            tabindex="0" type="button">
            <div>
                <svg style="-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;width:24px;user-select:none;color:#303030;mui-prepared:;display:inline-block;fill:#303030;height:24px;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;"
                    viewBox="0 0 24 24">
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
            </div>
            </button>
            <h1 style="-ms-flex:1;-webkit-flex:1;text-overflow:ellipsis;margin:0;padding-top:0;letter-spacing:0;font-size:24px;font-weight:400;overflow:hidden;height:50px;line-height:50px;box-flex:1;flex:1;mui-prepared:;white-space:nowrap;color:#303030;">Menu</h1>
            <button style="-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-moz-box-sizing:border-box;-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);cursor:pointer;text-decoration:none;margin:0;padding:12px;outline:none;font-size:0;font-weight:inherit;transform:translate(0, 0);box-sizing:border-box;overflow:visible;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;width:48px;height:48px;margin-top:1px;margin-right:-16px;margin-left:auto;background:none;mui-prepared:;display:inline-block;font-family:Roboto, sans-serif;border:10px;position:relative;"
                tabindex="0" type="button">
                <div><span class="muidocs-icon-navigation-expand-more" color="rgba(255, 255, 255, 1)" style="-webkit-transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;position:relative;mui-prepared:;color:#303030;font-size:24px;display:inline-block;fill:#303030;"></span></div>
                </button>
</div>
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{`{{ page.date | date_to_xmlschema }}`}" itemprop="datePublished">{{ page.date | date: '%b %-d, %Y'}}</time>{% if page.author %} • <span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{%
            endif %}</p>
    </header>
    <div class="post-content" itemprop="articleBody">{{ content }}</div>
</article>
</div>